body
{
    font-family: 'Special Elite', cursive;
    background: rgb(191, 235, 234);   
}

.header_div
{
    background: white;
    color: red;
}

.header_div p{
    font-family:  "Roboto" , sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto' sans-serif;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin-top:30px ;
}

.copy_right_footer {
    position: fixed;
    color: aqua;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(191, 235, 234);
}